aside .back{
	position: fixed;
	left: 0;
	top: 50%;
	margin-top: -55px;
	width: 37px;
	height: 110px;
	background: url(../images/back-btn@2x.png) no-repeat;
	background-size: cover;
	z-index: 10;
	cursor: pointer;
}