*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	font-size: 14px;
	color: #333;
	line-height: 1.42;
	background: #f2f2f2;
}

.flex-center{
	display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 10;
	background: #f2f2f2;
}

.switcher{
	line-height: 38px;
	height: 38px;
	border-radius: 38px;
	background: #fff;
	color: #9b9b9b;
	font-size: 16px;
	text-align: center;
}

.switcher .item{
	display: block;
	float: left;
	width: 120px;
	border-radius: 38px;
	cursor: pointer;
}

.switcher .item:not(:first-child){
	margin-left: -19px;
}

.switcher .item.active{
	color: #fff;
	background: #32B77D;
}

.task-list{
	margin-top: 80px;
	margin-bottom: 85px;
}

.task-list .item{
	height: 100px;
	background: #fff;
	margin-bottom: 4px;
	position: relative;
	font-size: 16px;
	line-height: 2;
	padding: 15px;
	cursor: pointer;
}

.task-list .item:after{
	content: '';
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -13px;
	display: inline-block;
	width: 15px;
	height: 27px;
	background: url(../images/arrow@2x.png) no-repeat;
	background-size: cover;
}

.item .icon{
	position: absolute;
	left: 25px;
	top: 18px;
	width: 25px;
	height: 25px;
}

.icon.published{
	background: url(../images/status-01@4x.png) no-repeat;
	background-size: cover;
}

.icon.accepted{
	background: url(../images/status-03@4x.png) no-repeat;
	background-size: cover;
}

.icon.completed{
	background: url(../images/status-02@4x.png) no-repeat;
	background-size: cover;
}

.icon.reviewed{
	background: url(../images/status-04@4x.png) no-repeat;
	background-size: cover;
}

.item .content{
	padding-left: 50px;
}

.item .content .time{
	color: #9B9B9B;
}

.item .content .desc{
	color: #4a4a4a;
	font-weight: lighter;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(255,255,255,.95);
	border-top: solid 1px #f2f2f2;
	box-shadow: 0 0 4px 2px #f2f2f2;
}

footer .publish{
	padding: 20px;
}

.button{
	display: block;
	width: 100%;
	height: 43px;
	line-height: 43px;
	background: #32B77D;
	color: #fff;
	font-size: 16px;
	text-align: center;
	outline: none;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}

.button:disabled{
	background: #95D8BB;
}
